# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
**/__pycache__/**
*.py[cod]
*$py.class

# Environments
venv/
.venv/
env/
.env/
# virtualenv_seed/
# conda/
# pyenv/
# pip-log.txt
# pip-delete-this-directory.txt
# *.egg
# *.whl

# Django specific
*.log
*.pot
# media/
media1/
# static/
local_settings.py

# SQLite databases
*.db
db.sqlite3
*/db.sqlite3
**/db.sqlite3

migrations
*/migrations
**/migrations
**/migrations/*
**/migrations/**
# IDE and editor settings
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS or system files
.DS_Store