{% extends "web/basic.html" %}
{% load static %}
{% block style %}

{% endblock %}
{% block content %}
    <!-- popup search end -->



        <!-- hero slider -->
        <!-- <div class="hero-section">
            <div class="hero-slider owl-carousel owl-theme">
                <div class="hero-single" style="background: url({% static 'school/images/banner_1.jpeg' %})">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-lg-7">
                                <div class="hero-content">
                                    <h6 class="hero-sub-title" data-animation="fadeInDown" data-delay=".25s">
                                        <i class="far fa-book-open-reader"></i>Welcome To  Little Star Public School!
                                    </h6>
                                    <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                        Start Your Beautiful And <span>Bright</span> Future
                                    </h1>
                                    <p data-animation="fadeInLeft" data-delay=".75s">
                                        There are many variations of passages orem psum available but the majority have
                                        suffered alteration in some repeat predefined chunks form
                                        injected humour.
                                    </p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-single" style="background: url({% static 'school/images/slider-2.jpg' %})">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-lg-7">
                                <div class="hero-content">
                                    <h6 class="hero-sub-title" data-animation="fadeInDown" data-delay=".25s">
                                        <i class="far fa-book-open-reader"></i>Welcome To  Little Star Public School!
                                    </h6>
                                    <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                        Start Your Beautiful And <span>Bright</span> Future
                                    </h1>
                                    <p data-animation="fadeInLeft" data-delay=".75s">
                                        There are many variations of passages orem psum available but the majority have
                                        suffered alteration in some repeat predefined chunks form
                                        injected humour.
                                    </p>
                                    <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                        <a href="{% url 'web:aboutus' %}" class="theme-btn">About More<i class="fas fa-arrow-right-long"></i></a>
                                        <a href="{% url 'web:contact' %}" class="theme-btn theme-btn2">Learn More<i class="fas fa-arrow-right-long"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-single" style="background: url({% static 'school/images/slider-3.jpg' %})">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-lg-7">
                                <div class="hero-content">
                                    <h6 class="hero-sub-title" data-animation="fadeInDown" data-delay=".25s">
                                        <i class="far fa-book-open-reader"></i>Welcome To  Little Star Public School!
                                    </h6>
                                    <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                        Start Your Beautiful And <span>Bright</span> Future
                                    </h1>
                                    <p data-animation="fadeInLeft" data-delay=".75s">
                                        There are many variations of passages orem psum available but the majority have
                                        suffered alteration in some repeat predefined chunks form
                                        injected humour.
                                    </p>
                                    <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                        <a href="{% url 'web:aboutus' %}" class="theme-btn">About More<i class="fas fa-arrow-right-long"></i></a>
                                        <a href="{% url 'web:contact' %}" class="theme-btn theme-btn2">Learn More<i class="fas fa-arrow-right-long"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- hero slider end -->
        <div class="hero-slider owl-carousel owl-theme">
            <!-- Your .hero-single slides... -->
            <div class="hero-single" style="background: url({% static 'school/images/banner_1.jpeg' %}); height: 600px;">
                <div class="container">
                    <div class="row align-items-center">
                       
                    </div>
                </div>
            </div>
            <div class="hero-single" style="background: url({% static 'school/images/slider-2.jpg' %}); height: 600px;">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- <div class="col-md-12 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title" data-animation="fadeInDown" data-delay=".25s">
                                    <i class="far fa-book-open-reader"></i>Welcome To  Little Star Public School!
                                </h6>
                                <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                    Start Your Beautiful And <span>Bright</span> Future
                                </h1>
                                <p data-animation="fadeInLeft" data-delay=".75s">
                                    There are many variations of passages orem psum available but the majority have
                                    suffered alteration in some repeat predefined chunks form
                                    injected humour.
                                </p>
                                <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                    <a href="{% url 'web:aboutus' %}" class="theme-btn">About More<i class="fas fa-arrow-right-long"></i></a>
                                    <a href="{% url 'web:contact' %}" class="theme-btn theme-btn2">Learn More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="hero-single" style="background: url({% static 'school/images/slider-3.jpg' %}); height: 600px;">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- <div class="col-md-12 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title" data-animation="fadeInDown" data-delay=".25s">
                                    <i class="far fa-book-open-reader"></i>Welcome To  Little Star Public School!
                                </h6>
                                <h1 class="hero-title" data-animation="fadeInRight" data-delay=".50s">
                                    Start Your Beautiful And <span>Bright</span> Future
                                </h1>
                                <p data-animation="fadeInLeft" data-delay=".75s">
                                    There are many variations of passages orem psum available but the majority have
                                    suffered alteration in some repeat predefined chunks form
                                    injected humour.
                                </p>
                                <div class="hero-btn" data-animation="fadeInUp" data-delay="1s">
                                    <a href="{% url 'web:aboutus' %}" class="theme-btn">About More<i class="fas fa-arrow-right-long"></i></a>
                                    <a href="{% url 'web:contact' %}" class="theme-btn theme-btn2">Learn More<i class="fas fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- feature area -->
        <div class="feature-area fa-negative">
            <div class="col-xl-9 ms-auto">
                <div class="feature-wrapper">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-3">
                            <div class="feature-item">
                                <span class="count">01</span>
                                <div class="feature-icon">
                                    <img src="{% static 'school/images/scholarship.svg' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4 class="feature-title">Scholarship Facility</h4>
                                    <p>It is a long established fact that a reader will be distracted.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="feature-item">
                                <span class="count">02</span>
                                <div class="feature-icon">
                                    <img src="{% static 'school/images/teacher.svg' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4 class="feature-title">Skilled Lecturers</h4>
                                    <p>It is a long established fact that a reader will be distracted.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="feature-item">
                                <span class="count">03</span>
                                <div class="feature-icon">
                                    <img src="{% static 'school/images/library.svg' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4 class="feature-title">Book Library Facility</h4>
                                    <p>It is a long established fact that a reader will be distracted.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="feature-item">
                                <span class="count">04</span>
                                <div class="feature-icon">
                                    <img src="{% static 'school/images/money.svg' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4 class="feature-title">Affordable Price</h4>
                                    <p>It is a long established fact that a reader will be distracted.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- feature area end -->


        <!-- about area -->
        <div class="about-area py-120">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <div class="about-left wow fadeInLeft" data-wow-delay=".25s">
                            <div class="about-img">
                                <div class="row g-4">
                                    <div class="col-md-6">
                                        <img class="img-1" src="{% static 'school/images/img/IMG_9206.JPG' %}" alt="">
                                        <div class="about-experience mt-4">
                                            <div class="about-experience-icon">
                                                <img src="{% static 'school/images/exchange-idea.svg' %}" alt="">
                                            </div>
                                            <b class="text-start">30 Years Of <br> Quality Service</b>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img class="img-2" src="{% static 'school/images/img/IMG_9231.JPG' %}" alt="">
                                        <img class="img-3 mt-4" src="{% static 'school/images/img/IMG_9242.JPG' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-right wow fadeInRight" data-wow-delay=".25s">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> About Us</span>
                                <h2 class="site-title">
                                    Our  Little Star Public Schooltion System <span>Inspires</span> You More.
                                </h2>
                            </div>
                            <p class="about-text">
                                
                                LittleStar public school is basically for little kids from the age group of 2.5yrs to 11.5 yrs 
                                and here we are ready to be our future leaders. Our school, established in2021, is centrally 
                                located in the hi-tech city Gurugram and is a standard for learning services management.
                            </p>
                            <div class="about-content">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="about-item">
                                            <div class="about-item-icon">
                                                <img src="{% static 'school/images/open-book.svg' %}" alt="">
                                            </div>
                                            <div class="about-item-content">
                                                <h5> Little Star Public Schooltion Services</h5>
                                                <p>Our School's aim is "Your child deserves the best" that we provide the best learning experience to all the students.</p>
                                            </div>
                                        </div>
                                        <div class="about-item">
                                            <!-- <div class="about-item-icon">
                                                <img src="{% static 'school/images/global-education.svg' %}" alt="">
                                            </div>
                                            <div class="about-item-content">
                                                <h5>International Hubs</h5>
                                                <p>It is a long established fact that reader will to using content.</p>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="about-quote">
                                            All Children are naturally curious. From Birthof a child's life, is the most critical learning period which becomes a reference for all future behavior, experiences and personality development.
                                            <i class="far fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="about-bottom">
                                <a href="{% url 'web:aboutus' %}" class="theme-btn">Discover More<i class="fas fa-arrow-right-long"></i></a>
                                <div class="about-phone">
                                    <div class="icon"><i class="fal fa-headset"></i></div>
                                    <div class="number">
                                        <span>Call Now</span>
                                        <h6><a href="tel:+917011948893">+91 7011948893</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about area end -->
 <!-- course-area -->
 <div class="course-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Our Courses</span>
                    <h2 class="site-title">Let's Check Our <span>Courses</span></h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of
                        a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="course-item wow fadeInUp" data-wow-delay=".25s">
                    <div class="course-img">
                        <span class="course-tag"><i class="far fa-bookmark"></i> Drama</span>
                        <img src="images/01_2.jpg" alt="">
                        <a href="course-single.html" class="btn"><i class="far fa-link"></i></a>
                    </div>
                    <div class="course-content">
                        <div class="course-meta">
                            <span class="course-meta-left"><i class="far fa-book"></i> 10 Lessons</span>
                            <div class="course-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <span>(4.0)</span>
                            </div>
                        </div>
                        <h4 class="course-title">
                            <a href="course-single.html">Acting And Drama</a>
                        </h4>
                        <p class="course-text">
                            There are many variations of passages orem psum available but the majority have
                            suffer alteration in some form by injected.
                        </p>
                        <div class="course-bottom">
                            <div class="course-bottom-left">
                                <span><i class="far fa-users"></i>75 Seats</span>
                                <span><i class="far fa-clock"></i>04 Years</span>
                            </div>
                            <span class="course-price">$750</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="course-item wow fadeInUp" data-wow-delay=".50s">
                    <div class="course-img">
                        <span class="course-tag"><i class="far fa-bookmark"></i> Design</span>
                        <img src="images/02_1.jpg" alt="">
                        <a href="course-single.html" class="btn"><i class="far fa-link"></i></a>
                    </div>
                    <div class="course-content">
                        <div class="course-meta">
                            <span class="course-meta-left"><i class="far fa-book"></i> 10 Lessons</span>
                            <div class="course-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <span>(4.0)</span>
                            </div>
                        </div>
                        <h4 class="course-title">
                            <a href="course-single.html">Art And Design</a>
                        </h4>
                        <p class="course-text">
                            There are many variations of passages orem psum available but the majority have
                            suffer alteration in some form by injected.
                        </p>
                        <div class="course-bottom">
                            <div class="course-bottom-left">
                                <span><i class="far fa-users"></i>75 Seats</span>
                                <span><i class="far fa-clock"></i>04 Years</span>
                            </div>
                            <span class="course-price">$750</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="course-item wow fadeInUp" data-wow-delay=".75s">
                    <div class="course-img">
                        <span class="course-tag"><i class="far fa-bookmark"></i> Science</span>
                        <img src="images/03_1.jpg" alt="">
                        <a href="course-single.html" class="btn"><i class="far fa-link"></i></a>
                    </div>
                    <div class="course-content">
                        <div class="course-meta">
                            <span class="course-meta-left"><i class="far fa-book"></i> 10 Lessons</span>
                            <div class="course-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <span>(4.0)</span>
                            </div>
                        </div>
                        <h4 class="course-title">
                            <a href="course-single.html">Biology And Conservation</a>
                        </h4>
                        <p class="course-text">
                            There are many variations of passages orem psum available but the majority have
                            suffer alteration in some form by injected.
                        </p>
                        <div class="course-bottom">
                            <div class="course-bottom-left">
                                <span><i class="far fa-users"></i>75 Seats</span>
                                <span><i class="far fa-clock"></i>04 Years</span>
                            </div>
                            <span class="course-price">$750</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="course-item wow fadeInUp" data-wow-delay=".25s">
                    <div class="course-img">
                        <span class="course-tag"><i class="far fa-bookmark"></i> Science</span>
                        <img src="images/04.jpg" alt="">
                        <a href="course-single.html" class="btn"><i class="far fa-link"></i></a>
                    </div>
                    <div class="course-content">
                        <div class="course-meta">
                            <span class="course-meta-left"><i class="far fa-book"></i> 10 Lessons</span>
                            <div class="course-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <span>(4.0)</span>
                            </div>
                        </div>
                        <h4 class="course-title">
                            <a href="course-single.html">Science And Engineering</a>
                        </h4>
                        <p class="course-text">
                            There are many variations of passages orem psum available but the majority have
                            suffer alteration in some form by injected.
                        </p>
                        <div class="course-bottom">
                            <div class="course-bottom-left">
                                <span><i class="far fa-users"></i>75 Seats</span>
                                <span><i class="far fa-clock"></i>04 Years</span>
                            </div>
                            <span class="course-price">$750</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="course-item wow fadeInUp" data-wow-delay=".50s">
                    <div class="course-img">
                        <span class="course-tag"><i class="far fa-bookmark"></i> Health</span>
                        <img src="images/05.jpg" alt="">
                        <a href="course-single.html" class="btn"><i class="far fa-link"></i></a>
                    </div>
                    <div class="course-content">
                        <div class="course-meta">
                            <span class="course-meta-left"><i class="far fa-book"></i> 10 Lessons</span>
                            <div class="course-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <span>(4.0)</span>
                            </div>
                        </div>
                        <h4 class="course-title">
                            <a href="course-single.html">Health Administration</a>
                        </h4>
                        <p class="course-text">
                            There are many variations of passages orem psum available but the majority have
                            suffer alteration in some form by injected.
                        </p>
                        <div class="course-bottom">
                            <div class="course-bottom-left">
                                <span><i class="far fa-users"></i>75 Seats</span>
                                <span><i class="far fa-clock"></i>04 Years</span>
                            </div>
                            <span class="course-price">$750</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="course-item wow fadeInUp" data-wow-delay=".75s">
                    <div class="course-img">
                        <span class="course-tag"><i class="far fa-bookmark"></i> Finance</span>
                        <img src="images/06.jpg" alt="">
                        <a href="course-single.html" class="btn"><i class="far fa-link"></i></a>
                    </div>
                    <div class="course-content">
                        <div class="course-meta">
                            <span class="course-meta-left"><i class="far fa-book"></i> 10 Lessons</span>
                            <div class="course-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <span>(4.0)</span>
                            </div>
                        </div>
                        <h4 class="course-title">
                            <a href="course-single.html">Accounting And Finance</a>
                        </h4>
                        <p class="course-text">
                            There are many variations of passages orem psum available but the majority have
                            suffer alteration in some form by injected.
                        </p>
                        <div class="course-bottom">
                            <div class="course-bottom-left">
                                <span><i class="far fa-users"></i>75 Seats</span>
                                <span><i class="far fa-clock"></i>04 Years</span>
                            </div>
                            <span class="course-price">$750</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- course-area -->
        <!-- video-area -->
        <!-- <div class="video-area">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".25s">
                        <div class="site-heading mb-3">
                            <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Latest Video</span>
                            <h2 class="site-title">
                                Let's Check Our <span>Latest</span> Video
                            </h2>
                        </div>
                        <p class="about-text">
                            There are many variations of passages available but the majority have suffered
                            alteration in some form by injected humour look even slightly believable.
                        </p>
                        <a href="about.html" class="theme-btn mt-30">Learn More<i class="fas fa-arrow-right-long"></i></a>
                    </div>
                    <div class="col-lg-8 wow fadeInRight" data-wow-delay=".25s">
                        <div class="video-content" style="background-image: url(images/01.jpg);">
                            <div class="row align-items-center">
                                <div class="col-lg-12">
                                    <div class="video-wrapper">
                                        <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- video-area end -->
        

        <!-- team-area -->
        <div class="team-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Our Team</span>
                            <h2 class="site-title">Meet With Our <span>Managers</span></h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="team-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="team-img" >
                                <img src="{% static 'school/images/img/chairman.jpeg' %}"  alt="thumb">
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-whatsapp"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                            <div class="team-content">
                                <div class="team-bio">
                                    <h5><a href="teacher-single.html">Mr. Sumit Bhati</a></h5>
                                    <span>Chairman</span>
                                </div>
                            </div>
                            <span class="team-social-btn"><i class="far fa-share-nodes"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="team-item wow fadeInUp" data-wow-delay=".50s">
                            <div class="team-img">
                                <img src="{% static 'school/images/img/principle.jpeg' %}"  alt="thumb">
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-whatsapp"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                            <div class="team-content">
                                <div class="team-bio">
                                    <h5><a href="#">Mrs. Soniya</a></h5>
                                    <span>Principal</span>
                                </div>
                            </div>
                            <span class="team-social-btn"><i class="far fa-share-nodes"></i></span>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        <!-- team-area end -->
        

        <!-- choose-area -->
        <div class="choose-area pt-80 pb-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="choose-content wow fadeInUp" data-wow-delay=".25s">
                            <div class="choose-content-info">
                                <div class="site-heading mb-0">
                                    <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Why Choose Us</span>
                                    <h2 class="site-title text-white mb-10">We Are Expert & <span>Do Our Best</span> For Your Goal</h2>
                                    <p class="text-white">
                                        It is a long established fact that a reader will be distracted by the readable
                                        content of a page when many desktop and web page editors looking at its
                                        layout.
                                    </p>
                                </div>
                                <div class="choose-content-wrap">
                                    <div class="row g-4">
                                        <div class="col-md-6">
                                            <div class="choose-item">
                                                <div class="choose-item-icon">
                                                    <img src="{% static 'school/images/teacher-2.svg' %}" alt="">
                                                </div>
                                                <div class="choose-item-info">
                                                    <h4>Expert Teachers</h4>
                                                    <p>There are many variation of the suffered.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="choose-item">
                                                <div class="choose-item-icon">
                                                    <img src="{% static 'school/images/course-material.svg' %}" alt="">
                                                </div>
                                                <div class="choose-item-info">
                                                    <h4>Courses Material</h4>
                                                    <p>There are many variation of the suffered.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="choose-item">
                                                <div class="choose-item-icon">
                                                    <img src="{% static 'school/images/online-course.svg' %}" alt="">
                                                </div>
                                                <div class="choose-item-info">
                                                    <h4>Online Courses</h4>
                                                    <p>There are many variation of the suffered.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="choose-item">
                                                <div class="choose-item-icon">
                                                    <img src="{% static 'school/images/money.svg' %}" alt="">
                                                </div>
                                                <div class="choose-item-info">
                                                    <h4>Affordable Price</h4>
                                                    <p>There are many variation of the suffered.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="choose-img wow fadeInRight" data-wow-delay=".25s">
                            <img src="{% static 'school/images/01_4.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- choose-area end -->

        {% if gallery %}
        <!-- gallery-area -->
        <div class="gallery-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Gallery</span>
                            <h2 class="site-title">Our Photo <span>Gallery</span></h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="row popup-gallery">
                    {% for group in gallery %}
                    <div class="col-md-4 wow fadeInUp" data-wow-delay=".25s">
                        {% for i in group %}
                        <div class="gallery-item">
                            <div class="gallery-img">
                                <img src="{{i.image.url}}" alt="">
                            </div>
                            <div class="gallery-content">
                                <a class="popup-img gallery-link" href="{{i.image.url}}"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                        {% endfor %}

                       
                    </div>
                    {% endfor %}


                   
                </div>
            </div>
        </div>
        <!-- gallery-area end -->
         {% endif %}

        <!-- testimonial area -->
        <div class="testimonial-area ts-bg pt-80 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Testimonials</span>
                            <h2 class="site-title text-white">What Our Students <span>Say's</span></h2>
                            <p class="text-white">It is a long established fact that a reader will be distracted by the
                                readable content of
                                a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="testimonial-item">
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="testimonial-quote">
                            <p>
                                There are many variations of tend to repeat chunks some all form necessary injected for the going are humour words.
                            </p>
                        </div>
                        <div class="testimonial-content">
                            <div class="testimonial-author-img">
                                <img src="{% static 'school/images/01_7.jpg' %}" alt="">
                            </div>
                            <div class="testimonial-author-info">
                                <h4>Anthony Nicoll</h4>
                                <p>Student</p>
                            </div>
                        </div>
                        <span class="testimonial-quote-icon"><i class="far fa-quote-right"></i></span>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="testimonial-quote">
                            <p>
                                There are many variations of tend to repeat chunks some all form necessary injected for the going are humour words.
                            </p>
                        </div>
                        <div class="testimonial-content">
                            <div class="testimonial-author-img">
                                <img src="{% static 'school/images/02_5.jpg' %}" alt="">
                            </div>
                            <div class="testimonial-author-info">
                                <h4>Richard Lock</h4>
                                <p>Student</p>
                            </div>
                        </div>
                        <span class="testimonial-quote-icon"><i class="far fa-quote-right"></i></span>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="testimonial-quote">
                            <p>
                                There are many variations of tend to repeat chunks some all form necessary injected for the going are humour words.
                            </p>
                        </div>
                        <div class="testimonial-content">
                            <div class="testimonial-author-img">
                                <img src="{% static 'school/images/03_5.jpg' %}" alt="">
                            </div>
                            <div class="testimonial-author-info">
                                <h4>Randal Grand</h4>
                                <p>Student</p>
                            </div>
                        </div>
                        <span class="testimonial-quote-icon"><i class="far fa-quote-right"></i></span>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="testimonial-quote">
                            <p>
                                There are many variations of tend to repeat chunks some all form necessary injected for the going are humour words.
                            </p>
                        </div>
                        <div class="testimonial-content">
                            <div class="testimonial-author-img">
                                <img src="{% static 'school/images/04_4.jpg' %}" alt="">
                            </div>
                            <div class="testimonial-author-info">
                                <h4>Edward Miles</h4>
                                <p>Student</p>
                            </div>
                        </div>
                        <span class="testimonial-quote-icon"><i class="far fa-quote-right"></i></span>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="testimonial-quote">
                            <p>
                                There are many variations of tend to repeat chunks some all form necessary injected for the going are humour words.
                            </p>
                        </div>
                        <div class="testimonial-content">
                            <div class="testimonial-author-img">
                                <img src="{% static 'school/images/05_2.jpg' %}" alt="">
                            </div>
                            <div class="testimonial-author-info">
                                <h4>Ninal Gordon</h4>
                                <p>Student</p>
                            </div>
                        </div>
                        <span class="testimonial-quote-icon"><i class="far fa-quote-right"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonial area end -->


        <!-- blog area -->
        <!-- <div class="blog-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-book-open-reader"></i> Our Blog</span>
                            <h2 class="site-title">Latest News & <span>Blog</span></h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="blog-date"><i class="fal fa-calendar-alt"></i> June 18, 2024</div>
                            <div class="blog-item-img">
                                <img src="{% static 'school/images/01_8.jpg' %}" alt="Thumb">
                            </div>
                            <div class="blog-item-info">
                                <div class="blog-item-meta">
                                    <ul>
                                        <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                        <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                                    </ul>
                                </div>
                                <h4 class="blog-title">
                                    <a href="blog-single.html">There are many variations passage have suffered
                                        available.</a>
                                </h4>
                                <a class="theme-btn" href="blog-single.html">Read More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item wow fadeInUp" data-wow-delay=".50s">
                            <div class="blog-date"><i class="fal fa-calendar-alt"></i> June 18, 2024</div>
                            <div class="blog-item-img">
                                <img src="{% static 'school/images/02_6.jpg' %}" alt="Thumb">
                            </div>
                            <div class="blog-item-info">
                                <div class="blog-item-meta">
                                    <ul>
                                        <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                        <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                                    </ul>
                                </div>
                                <h4 class="blog-title">
                                    <a href="blog-single.html">There are many variations passage have suffered
                                        available.</a>
                                </h4>
                                <a class="theme-btn" href="blog-single.html">Read More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item wow fadeInUp" data-wow-delay=".75s">
                            <div class="blog-date"><i class="fal fa-calendar-alt"></i> June 18, 2024</div>
                            <div class="blog-item-img">
                                <img src="{% static 'school/images/03_6.jpg' %}" alt="Thumb">
                            </div>
                            <div class="blog-item-info">
                                <div class="blog-item-meta">
                                    <ul>
                                        <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                        <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                                    </ul>
                                </div>
                                <h4 class="blog-title">
                                    <a href="blog-single.html">There are many variations passage have suffered
                                        available.</a>
                                </h4>
                                <a class="theme-btn" href="blog-single.html">Read More<i class="fas fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- blog area end -->


        <!-- partner area -->
        <!-- <div class="partner-area bg pt-50 pb-50">
            <div class="container">
                <div class="partner-wrapper partner-slider owl-carousel owl-theme">
                    <img src="{% static 'school/images/01.png' %}" alt="thumb">
                    <img src="{% static 'school/images/02.png' %}" alt="thumb">
                    <img src="{% static 'school/images/03.png' %}" alt="thumb">
                    <img src="{% static 'school/images/04.png' %}" alt="thumb">
                    <img src="{% static 'school/images/01.png' %}" alt="thumb">
                    <img src="{% static 'school/images/02.png' %}" alt="thumb">
                    <img src="{% static 'school/images/04.png' %}" alt="thumb">
                </div>
            </div>
        </div> -->
        <!-- partner area end -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    Swal.fire({
        title: 'Contact Us',
        html:
            `<form id="contactForm" method="POST" action="{% url 'web:contact' %}">
                {% csrf_token %}
                <div class="mb-3">
                {{form.name}}
                </div>
                <div class="mb-3">
                {{form.email}}
                </div>
                <div class="mb-3">
                {{form.subject}}
                </div>
                <div class="mb-3">
                {{form.message}}
                </div>
            </form>`,
        showCancelButton: true,
        confirmButtonText: 'Send',
        preConfirm: () => {
            document.getElementById('contactForm').submit();
        }
    });
</script>
        {% endblock %}